@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Light.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Light.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Light.ttf)
      format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-LightItalic.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-LightItalic.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-LightItalic.ttf)
      format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.ttf)
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-RegularItalic.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-RegularItalic.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-RegularItalic.ttf)
      format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Medium.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Medium.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Medium.ttf)
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-MediumItalic.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-MediumItalic.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-MediumItalic.ttf)
      format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Semibold.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Semibold.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Semibold.ttf)
      format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-SemiboldItalic.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-SemiboldItalic.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-SemiboldItalic.ttf)
      format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.ttf)
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BoldItalic.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BoldItalic.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BoldItalic.ttf)
      format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Black.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Black.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Black.ttf)
      format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BlackItalic.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BlackItalic.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BlackItalic.ttf)
      format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Guardian Titlepiece";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.ttf)
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --headerHeight: 50px;
  --spacing: 10px;

  --blueish: #f1f8fc;
  --darkblueish: #67bed8;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Guardian Headline Full";
}

h1 {
  margin: 0;
  font-family: "Guardian Titlepiece";
  font-size: 30px;
}

header {
  height: var(--headerHeight);
  line-height: var(--headerHeight);
  background-color: #121212;
  color: var(--blueish);
  padding: var(--spacing);
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  display: inline-block;
  padding-right: var(--spacing);
  color: var(--darkblueish);
}

.card-builder {
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--headerHeight) - (var(--spacing) * 2));
}

.card-builder-left,
.card-builder-right {
  padding: var(--spacing);
  overflow-y: scroll;
}

.card-builder-left {
  min-width: 400px;
  width: 400px;
  background-color: var(--blueish);
}

.card-builder-right {
  flex-grow: 1;
}

.card-builder-right .card {
  display: block;
  margin: var(--spacing) auto 0 auto;
  box-shadow: 0px 10px 20px 5px rgba(92, 92, 92, 1);
}

.card-builder-form label,
.card-builder-form legend {
  display: block;
  font-family: "Guardian Titlepiece";
  font-size: 25px;
  padding-top: var(--spacing);
}

textarea,
input {
  font-family: "Guardian Headline Full";
  padding: 0;
  width: 100%;
  font-size: 20px;
}

textarea {
  resize: vertical;
}

fieldset,
legend {
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  cursor: pointer;
  display: inline-block;
  padding: var(--spacing);
  font-family: "Guardian Headline Full";
  font-size: 20px;
}

input[type="radio"]:checked + label {
  text-decoration: underline;
  font-weight: 600;
}

#customColour {
  display: none;
  width: 150px;
}

.image-select {
  width: 100%;
}

a,
button {
  background-color: #000;
  padding: 8px 16px;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  font-family: "Guardian Titlepiece";
  border: none;
}

a {
  display: inline;
  text-decoration: none;
}

a:not([href]) {
  display: none;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

a[href]:hover,
button:not([disabled]):hover {
  background-color: #ffe500;
  color: #000;
  cursor: pointer;
}

canvas {
  height: 80%;
}
