@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Light.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Light.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Light.ttf)
      format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-LightItalic.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-LightItalic.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-LightItalic.ttf)
      format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.ttf)
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-RegularItalic.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-RegularItalic.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-RegularItalic.ttf)
      format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Medium.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Medium.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Medium.ttf)
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-MediumItalic.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-MediumItalic.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-MediumItalic.ttf)
      format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Semibold.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Semibold.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Semibold.ttf)
      format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-SemiboldItalic.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-SemiboldItalic.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-SemiboldItalic.ttf)
      format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.ttf)
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BoldItalic.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BoldItalic.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BoldItalic.ttf)
      format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Black.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Black.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Black.ttf)
      format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BlackItalic.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BlackItalic.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BlackItalic.ttf)
      format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Guardian Titlepiece";
  src: url(https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff2)
      format("woff2"),
    url(https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff)
      format("woff"),
    url(https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.ttf)
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --headerHeight: 50px;
  --padding: 10px;

  --blueish: #f1f8fc;
  --darkblueish: #67bed8;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Guardian Headline Full";
}

h1 {
  margin: 0;
  font-family: "Guardian Titlepiece";
  font-size: 30px;
}

header {
  height: var(--headerHeight);
  line-height: var(--headerHeight);
  background-color: #121212;
  color: var(--blueish);
  padding: var(--padding);
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  display: inline-block;
  padding-right: var(--padding);
  color: var(--darkblueish);
}

.card-builder {
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--headerHeight) - (var(--padding) * 2));
}

.card-builder-left,
.card-builder-right {
  padding: var(--padding);
  overflow-y: scroll;
}

.card-builder-left {
  width: 600px;
  background-color: var(--blueish);
}

.card-builder-right {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-builder-right canvas {
  box-shadow: 0px 10px 20px 5px rgba(92,92,92,1);
}

.card-builder-form {
  padding: var(--padding);
}

.card-builder-form label,
.card-builder-form legend {
  display: block;
  font-family: "Guardian Titlepiece";
  font-size: 25px;
}

textarea,
input {
  font-family: "Guardian Headline Full";
  padding: 0;
  width: 100%;
  font-size: 20px;
}

textarea {
  resize: vertical;
}

fieldset,
legend {
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  cursor: pointer;
  display: inline-block;
  padding: var(--padding);
  font-family: "Guardian Headline Full";
  font-size: 20px;
}

input[type=radio]:checked + label {
  text-decoration: underline;
  font-weight: 600;
}

.headline-colour label[for="headlineWhite"] {
  background-color: #ffffff;
}

.headline-colour label[for="headlineRed"] {
  background-color: #c70000;
  color: #fff;
}

.headline-colour label[for="headlineBlue"] {
  background-color: #052962;
  color: #fff;
}

.headline-colour label[for="headlineYellow"] {
  background-color: #ffe500;
}

.headline-colour label[for="headlineGrey"] {
  background-color: #ececec;
}

#headlineCustomColour,
.headline-colour label[for="headlineCustomColour"] {
  display: none;
}

.image-select {
  width: 100%;
}

.button,
.download-button {
  background-color: #000;
  padding: 8px 16px;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  font-family: "Guardian Titlepiece";
}

.button:hover,
.download-button:hover {
  background-color: #ffe500;
  color: #000;
}

.download-button {
  opacity: 0.2;
}

.download-button:hover {
  background-color: #000;
  color: #fff;
}

.download-button.active {
  opacity: 1;
}

.download-button.active:hover {
  background-color: #ffe500;
  color: #000;
}
